<%# js_bundle "guest/index" %>

<div id="landing_page" class="landing-page">
  <div class="greeting hero-unit">
    <h1>Write!</h1>

    <p>
      Welcome to PageHub, an open editing platform that's all about
      <strong>authoring</strong> and <strong>publishing</strong> content.
    </p>

    <p class="type-small">
      Whether you're a software developer documenting your software,
      a student taking notes, or just looking for a place to
      <em>write</em>, PageHub's <%= link_to "loaded features", features_url %> and
      easy-to-use interface will hit the spot right on for you.
    </p>

    <hr />

    <div class="actions">
      <a href="<%= new_user_registration_url %>" class="btn btn-large btn-success">
        Sign up
      </a>

      <a
        href="<%= user_omniauth_authorize_url(:github) %>"
        class="btn"
        rel="tooltip"
        title="Sign in using your GitHub account"><i class="icon github icon16"></i>
      </a>
    </div>
  </div>

  <div class="row-fluid text-center">

    <div class="span4">
      <img src="/assets/icons/landing_page/screen.png" />

      <h4>Write it and we'll format it</h4>
      <p>
        Documents you author on PageHub can be accessed as
        <a href="/features#spaces-browsing">web pages in a browser</a>,

        and can also be exported to a number of formats like TXT, PDF, or Word.
      </p>
    </div>

    <div class="span4">
      <img src="/assets/icons/landing_page/tree.png" />

      <h4>Organize via an intuitive interface</h4>
      <p>
        Use the file browser to organize your pages (and folders) like you would
        with conventional file browsers.
      </p>
    </div>

    <div class="span4">
      <img src="/assets/icons/landing_page/multi-agents.png" />
      <h4>Collaborate with others</h4>
      <p>
        Start a space with friends or colleagues
        to write and edit together, and share your work.
      </p>
    </div>
  </div>
</div>