<% content_for :section do %> users settings <% end %>
<nav>
  <ul class="settings-nav">
    <li class="settings-nav__item"><a href="profile">Profile</a></li>
    <li class="settings-nav__item"><a href="account">Account</a></li>
    <li class="settings-nav__item"><a href="editing">Editing</a></li>
    <li class="settings-nav__item"><a href="spaces">Spaces</a></li>
  </ul>
</nav>
