a.listlike {
  padding: 0 10px;
  position: relative;

  color: $foreground;
  font-weight: bold;

  &.selected {
    /*border: none;*/
    box-shadow: none;
    background-color: $low_contrast_bg;
    z-index: 102;
    /*border-color: transparent !important;*/
    border-color: transparent;

    /*
    &:before {
      content: '';
      display: inline-block;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ff0000;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: -3px;
      right: 5px;
      z-index: 1;
    }
    &:after {
      content: '';
      display: inline-block;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #fff;
      position: absolute;
      bottom: -3px;
      right: 6px;
      z-index: 1;
    }
    */
  } /* a.listlike.selected */

  &.with-arrow {
    border-bottom: none;
    text-align: center;
    vertical-align: top;


    &.selected, &:hover {
      /*background: white;*/
      /*border: 1px solid $low_contrast_border;*/
      border-bottom: none;
    }

    &:after {
      vertical-align: middle;
      top: -1px;
      content: '  ';
      display: inline-block;
      border: 1px solid transparent;
      border-width: 4px 4px 0 4px;
      border-color: rgba(0,0,0,0.5) transparent transparent transparent;
      position: relative;
      margin-left: 5px;
      right:    0;
      z-index:  1;
    }

    & + ol.listlike {
      top: 97%;
    }
  }
}


ol.listlike {
  min-width: 180px;
  background: white;

  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 101; /* to be active on top of the page action bar */
  right: 0%;
  left: 0%;
  top: 99%;
  text-align: left;
  /*
  border-top-left-radius:     2px;
  border-bottom-left-radius:  2px;
  border-bottom-right-radius: 2px;
  */
  border-radius: 2px;
  max-height: 320px;
  overflow-y: auto;

  border: 1px solid $low_contrast_border;

  li, a {
    position: relative;
    z-index: 102;
  }

  li {
    padding: 0;
    margin: 0;
    line-height: inherit;
    height: auto;
    border-bottom: 1px solid $low_contrast_border;

    &:hover {
      background-color: rgba(0,0,0,0.05);

      a {
        border: 1px solid #555;
        background: $active_fg url(/assets/jquery-ui/ui-bg_flat_100_008CDD_40x100.png) 50% 50% repeat-x;
        font-weight: normal;
        color: white;
        text-decoration: none;
        padding: 4px 9px;
        border-radius: 0px;
      }
    } /* li:hover */

    &:last-of-type {
      border-bottom: none;
    }

    a {
      color: $foreground;
      display: block;
      width: 100%;
      line-height: inherit;
      height: auto;
      padding: 5px 10px;
    }

    span.title {
      display:      block;
      padding:      5px 10px;
      font-weight:  bold;
      background:   $high_contrast_fg;
    }
  } /* ol.listlike li */
} /* ol.listlike */


a.listlike:hover {
  /*background-color: rgba(0,0,0,0.05);*/
  background-color: $low_contrast_bg;
  border-color: $active_fg;
  cursor: pointer;
}