.space-memberships {
  form {
    width: 100%;
    display: inline-block;

  } /* memberships form */

  table {
    width: 100%;
    margin-left: -7px;
    th {
      text-align: left;
      vertical-align: top;
      &:nth-of-type(1) { width: 40%; }
      /*&:nth-of-type(3) { width: 30%; }*/
    }

    td,th {
      &:nth-of-type(3),
      &:nth-of-type(4)
      { text-align: center; }
    }

    tbody tr:hover { background: rgba(0,0,0,0.05); }
  }

} /* memberships */

.space-memberships__record-avatar {
  vertical-align: middle;
  box-shadow: 0 0 1px 1px black;
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.space-memberships__role-description {
  font-size: 0.9em;
  opacity: 0.8;

  &.well :first-child {
    margin-top: 0;
  }

  .column {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin: 0 4.5% 0 0;
  }
} /* memberships .space_role_description */
