@import "fonts";
@import "vendor/jquery-ui/pagehub-jqueryui/jquery-ui-1.10.1.custom";
@import "vendor/bootstrap/bootstrap";
// @import "vendor/jquery.gridster";
@import "icons";
@import "colors";
@import "helpers";
// @import "codemirror";
@import "vendor/codemirror";
@import "vendor/codemirror/addon/search/match_highlighter";
@import "vendor/codemirror/dialog";
@import "vendor/codemirror/foldgutter";
@import "code_highlighting";
@import "ext/codemirror";
@import "revisions";
@import "settings";
@import "dashboard";
@import "spaces";
@import "guest";
@import "typography";

@import "skins/light";
// @import "regions/header";

/* a hack for drag and drop in Safari */
[draggable=true] {
  -khtml-user-drag: element;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

body {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: $foreground;

  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

body.guest {
  margin-bottom: 84px; // footer
}

html {
  background-color: transparent;
  position: relative;
  min-height: 100%;
}

hr {
  border: none;
  border-top: 1px solid $low_contrast_border;
  box-shadow: none;
}

#content {
  position: relative;
  margin-top: 10px;
}

/** -- anchors -- **/
a {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: $link_fg;

  &:hover {
    text-decoration: underline;
  }

  &.listlike {
    border-bottom: 2px solid $inactive_fg;
    &, &:hover {
      text-decoration: none;
    }
  }

  img {
    border: none;
  }
}

/** -- active, disabled & highlighted elements -- **/
.highlighted {
  @include highlight();
}

.disabled {
  opacity: 0.5;
}
:disabled, .disabled * {
  color:  gray    !important;
  cursor: default !important;
}


span.shortcut {
  font-size: 10px;
  color: #777;
  /*font-weight: bold;*/
  background: $low_contrast_bg;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px 5px;
  font-family: monospace;
  box-shadow: 0 0 0 1px white inset;
}

/* -- icons -- */

/** -- containers & wrappers **/
.stuff {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

body.fluid {
  .stuff,
  footer p {
    max-width: 100%;
    margin: 0 40px 0 60px;
    width: auto;
  }
}

/** -- typography -- **/
.small {
  font-size: 0.8em;
}

/** -- placement -- **/
.left   { float: left; }
.right  { float: right;}
.inline { display: inline-block; }

@import "components/app_header";
@import "components/app_footer";
@import "components/ui_dialog";
@import "components/status";
@import "components/flash";
@import "components/loader";
@import "components/listlike";
@import "components/icon";
@import "components/login_form";
@import "components/devise";
@import "components/typeahead";
@import "components/space_memberships";

.link--reset {
  color: inherit;
}