$foreground:  #615B4E;
$active_fg:   #008CDD;
$active_bg:   rgba(0,0,0,0.00725);
$inactive_fg: rgba(0,0,0,0.35);
$link_fg:     #008CDD;
$alternate_fg: #2CC185;
$icon_sprite: "/assets/icons/pagehub.png";
$high_contrast_fg: #eee;
$whitespace: 15px;
$highlight_fg: #F0AD11;
$highlight_bg: rgba(0,0,0,0);
$actionbar_height: 30px;

$current_fg: #fff;
$current_bg: #33B5E5;

$low_contrast_border: #ddd;
$low_contrast_bg: rgba(0,0,0,0.05);

$red: #dc322f;
$green: #2CC185;
