.revisions {
  div.block {
    width: 49%;
    clear: left;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
  .CodeMirror, pre {
    margin: 0;
    width: 100%;
  }
/*  .CodeMirror-scroll {
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
  }*/

  div.spanner {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    vertical-align: bottom;
    /*text-align: center;*/
  }
  div.spanner:last-of-type {
    border: none;
    border-top: 1px solid #ddd;
  }

  #changes pre {
    max-width: 100%;
    word-wrap: break-word;
    line-height: 14px;
    font-size: 14px;
  }
  del { color: red; text-decoration: none; }
  ins { color: green; text-decoration: none;}
}

.page-revisions__navigation {
  margin: 2em 0;
}

.page-revisions__diff-block {
  width: 460px;
  display: inline-block;
  vertical-align: top;

  & + & {
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid #ddd;
  }
}