<% if flash.reject { |(_,m)| m.blank? }.any? %>
  <% style = if flash.any? { |(c,_)| c == 'error' }
    'flash-messages--error'
    else
      'flash-messages--notice'
    end
  %>

  <div id="flash-messages" class="flash-messages <%= style %>">
    <% flash.each do |ctx, messages| %>
      <div class="flash-messages__message">
        <% Array(messages).each do |message| %>
          <%= message.is_a?(Array) ? message.first.to_s : message %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>