<footer class="app-footer">
  <p>

    <span>
      <a href="https://www.pagehub.org">PageHub</a>
      &copy;2016
      <a href="http://algollabs.com" target="_blank">Algol Labs</a>
    </span>
    •
    <a href="https://github.com/amireh/pagehub" target="_blank">Fork on GitHub</a>
  </p>
</footer>